@using CarInsuranceQuote.ViewModels
@model List<CustomerVm>

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h1>Submitted Estimate Requests</h1>
        </div>
        <div class="card-body">
            @foreach (var customer in Model)
            {
                <div class="row">
                    <h5 class="col">@customer.FirstName</h5>
                    <h5 class="col">@customer.LastName</h5>
                    <h5 class="col">@customer.Email</h5>
                    <h5 class="col">@customer.Estimate</h5>
                </div>
                <hr />
            }
        </div>
    </div>
</div>