@model CarInsuranceQuote.Models.Customer
@{ 
    var estimate = ViewBag.Message.Estimate;
}

<h1>Success!</h1>
<br />
<h3>Your Official Rate will be emailed to you shortly,</h3>
<h4>Estimated rate: $@estimate </h4>
